<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="guru.stefma.baking">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".presentation.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.overview.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.detail.RecipeDetailActivity"
            android:parentActivityName=".presentation.overview.MainActivity" />
        <activity
            android:name=".presentation.detail.step.RecipeDetailStepActivity"
            android:parentActivityName=".presentation.detail.RecipeDetailActivity" />

        <!-- Widget -->
        <receiver android:name=".presentation.widget.IngredientWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ingredient_widget_provider" />
        </receiver>
        <activity android:name=".presentation.widget.IngredientWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>